**
!Dockerfile
!LICENSE
!package.json
!bun.lock
!frontend/
!frontend/**
!backend/
!backend/Cargo.toml
!backend/Cargo.lock
!backend/src/
!backend/src/**
!backend/migrations/
!backend/migrations/**
!shared/
!shared/Cargo.toml
!shared/Cargo.lock
!shared/*.rs
**/node_modules
**/dist
**/admin-dist
**/target
**/.env*
**/*.tsbuildinfo
**/config.toml
**/*.db
**/*.db-shm
**/*.db-wal
